body {
  font-family: Arial, Helvetica, sans-serif, Times, serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  background-position: top,bottom;
  background-size: 5px 3px, 5px 3x;
  background-size: 15%, 35%;
  background-image: url("img/arbol.png"), url("img/nutre.jpg");
  background-repeat: no-repeat,no-repeat;
 
  
}

.calculator {

 
  color: #ffffff;
  background-color: rgb(7, 99, 7);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.label {

  border-radius: 20px;
  padding: 20px;
  border-radius: 20px;
}


.calculobtn {

  background-color: #ffffff; /* Green */

  border-radius: 10px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}

.tipPorcentage {

  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnborrar
{
  background-color: #ffffff; /* Green */
  border-radius: 10px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  

}



.hidden {
  display: none;
}
